/ISPRSguidelines_authors_fullpaper.aux
/ISPRSguidelines_authors_fullpaper.bbl
/ISPRSguidelines_authors_fullpaper.blg
/ISPRSguidelines_authors_fullpaper.log
/ISPRSguidelines_authors_fullpaper.synctex.gz